[Desktop Entry]
Name=Zen Profile Manager
Comment=Gestor de perfiles para Zen Browser
Exec=/home/DevMaubry/zen_profile_manager_linux/.venv/bin/python /home/DevMaubry/zen_profile_manager_linux/main.py
Icon=/home/DevMaubry/zen_profile_manager_linux/icons/zen-manager-icon.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
